<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension-point id="svnconnector" name="SVN Client Factory" schema="schema/svnconnector.exsd"/>
	<extension-point id="coreoptions" name="SVN Team Core Options" schema="schema/coreoptions.exsd"/>
	<extension-point id="crashrecovery" name="SVN Team Core Crash Recovery" schema="schema/crashrecovery.exsd"/>
	<extension-point id="resourceIgnoreRules" name="SVN Team Core Ignore Recommendations" schema="schema/resourceIgnoreRules.exsd"/>
	<extension-point id="connectorDiscovery" name="Connector Discovery" schema="schema/connectorDiscovery.exsd"/>
	<extension-point id="svnproperties" name="SVN Properties" schema="schema/svnproperties.exsd"/>

<!-- ************** SVN Team Services ********************** -->
   <extension
         point="org.eclipse.team.core.repository">
      <repository
            typeClass="org.eclipse.team.svn.core.SVNTeamProviderType"
            class="org.eclipse.team.svn.core.SVNTeamProvider"
            canImportId="org.tigris.subversion.subclipse.core.svnnature"
            id="org.eclipse.team.svn.core.svnnature"/>
   </extension>
   
<!-- **************** Team Ignore ******************* -->
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            enabled="true"
            pattern=".svn"/>
      <ignore
            enabled="true"
            pattern="_svn"/>
      <ignore
            enabled="true"
            pattern="svn-commit*.tmp"/>
      <ignore
            enabled="true"
            pattern="*.merge-right*"/>
      <ignore
            enabled="true"
            pattern="*.merge-left*"/>
      <ignore
            enabled="true"
            pattern="*.working"/>
      <ignore
            enabled="true"
            pattern="*.mine"/>
      <ignore
            enabled="true"
            pattern="*.prej"/>

   </extension>

<!-- **************** Model elements ******************* -->
   <extension id="svnChangeSetModel" name="SVN Change Sets" point="org.eclipse.core.resources.modelProviders">
      <modelProvider class="org.eclipse.team.svn.core.mapping.SVNChangeSetModelProvider"/>
      <extends-model id="org.eclipse.core.resources.modelProvider"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.team.svn.core.mapping.SVNActiveChangeSet" class="org.eclipse.team.svn.core.mapping.SVNChangeSetAdapterFactory">
            <adapter type="org.eclipse.core.resources.mapping.ResourceMapping"/>
      </factory>
      <factory adaptableType="org.eclipse.team.svn.core.mapping.SVNIncomingChangeSet" class="org.eclipse.team.svn.core.mapping.SVNChangeSetAdapterFactory">
         <adapter type="org.eclipse.core.resources.mapping.ResourceMapping"/>
      </factory>
      <factory adaptableType="org.eclipse.team.svn.core.mapping.SVNUnassignedChangeSet" class="org.eclipse.team.svn.core.mapping.SVNChangeSetAdapterFactory">
         <adapter type="org.eclipse.core.resources.mapping.ResourceMapping"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.resources.filterMatchers">
      <filterMatcher
            class="org.eclipse.team.svn.core.SVNFileInfoMatcher"
            id="org.eclipse.team.svn.core.svnmeta"
            name="SVN meta-information filter">
      </filterMatcher>
   </extension>

</plugin>
