<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
	id="org.eclipse.team.svn.resource.ignore.rules.jdt"
	name="%pluginName"
	version="0.7.0.v20071120"
	provider-name="%providerName">

	<runtime>
		<library name=".">
			<export name="*"/>
		</library>
	</runtime>
   
	<requires>
		<import plugin="org.eclipse.core.runtime"/>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.team.svn.core"/>
		<import plugin="org.eclipse.jdt.core"/>
	</requires>

	<extension point="org.eclipse.team.svn.core.resourceIgnoreRules">
		<resourceIgnoreRules class="org.eclipse.team.svn.resource.ignore.rules.jdt.JDTIgnoreRecommendations"/>
	</extension>
	
</plugin>
