<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.team.svn.core.connectorDiscovery">
      <connectorCategory
            description="External SVN connectors for the Eclipse Subversive project. Installation one of the following connectors is required to operate with Subversive. Select connector depending on your SVN environment and operation system."
            id="org.eclipse.team.svn.discovery.svn.connectors"
            name="Subversive SVN Connectors"
            relevance="50">
         <icon image32="images/Subversive.png"/>
         
         <group id="org.eclipse.team.svn.discovery-svnkit"/>         
         <group id="org.eclipse.team.svn.discovery-javahl"/>
                  
      </connectorCategory>
   
   </extension>

   <extension
         point="org.eclipse.team.svn.core.connectorDiscovery">
         
      <!--   SVN Kit   -->
      
      <connectorDescriptor
            categoryId="org.eclipse.team.svn.discovery.svn.connectors"
            description="SVN connector based on SVN Kit library (SVN/1.7.11 SVNKit/1.7.13 r10273_v20140502_1419). Compatible with SVN 1.7.x. Pure Java. Supported platforms: All."
            groupId="org.eclipse.team.svn.discovery-svnkit"
            id="org.polarion.eclipse.team.svn.connector,org.polarion.eclipse.team.svn.connector.svnkit17"
            kind="task"
            license="TMate Open Source License"
            name="SVN Kit 1.7.13"
            provider="Polarion"
            siteUrl="http://community.polarion.com/projects/subversive/download/eclipse/4.0/luna-site/">
         <icon image32="images/Polarion.png">
         </icon>
         <overview
               summary="SVN Kit connector for the Eclipse Subversive. Compatible with SVN 1.7.x only. SVNKit is written in Java and does not require any additional binaries or native applications. It is portable and there is no need for OS specific code."
               url="http://svnkit.com/">
         </overview>
      </connectorDescriptor>                            
                  
      <connectorDescriptor
            categoryId="org.eclipse.team.svn.discovery.svn.connectors"
            description="SVN connector based on SVN Kit library (SVN/1.8.1 SVNKit/1.8.6 r10298_v20140730_2254). Compatible with SVN 1.8.x. Pure Java. Supported platforms: All."
            groupId="org.eclipse.team.svn.discovery-svnkit"
            id="org.polarion.eclipse.team.svn.connector,org.polarion.eclipse.team.svn.connector.svnkit18"
            kind="task"
            license="TMate Open Source License"
            name="SVN Kit 1.8.6"
            provider="Polarion"
            siteUrl="http://community.polarion.com/projects/subversive/download/eclipse/4.0/luna-site/">
         <icon image32="images/Polarion.png">
         </icon>
         <overview
               summary="SVN Kit connector for the Eclipse Subversive. Compatible with SVN 1.7.x-1.8.x only. SVNKit is written in Java and does not require any additional binaries or native applications. It is portable and there is no need for OS specific code."
               url="http://svnkit.com/">
         </overview>
      </connectorDescriptor>                            
                  
      <!-- JavaHL 1.7 -->

      <connectorDescriptor
            categoryId="org.eclipse.team.svn.discovery.svn.connectors"
            description="SVN connector based on Subversion binaries (Native JavaHL SVN/1.7.9 r1462340). Compatible with SVN 1.7.x. Included binaries: for Windows 32-bit platform only."
            groupId="org.eclipse.team.svn.discovery-javahl"
            id="org.polarion.eclipse.team.svn.connector,org.polarion.eclipse.team.svn.connector.javahl17.win32,org.polarion.eclipse.team.svn.connector.javahl17"
            kind="task"
            license="Apache Software License 1.1"
            name="Native JavaHL 1.7.9 (32-bit Eclipse for Windows)"
            provider="Polarion"
            siteUrl="http://community.polarion.com/projects/subversive/download/eclipse/4.0/luna-site/"
            platformFilter="(&amp; (osgi.os=win32) (osgi.arch=x86))">
       <icon image32="images/Polarion.png">
         </icon>
         <overview
               summary="JavaHL connector for the Eclipse Subversive. Compatible with SVN 1.7.x only. JavaHL is a part of the Subversion project. Specifically, it is the Java language binding for the Subversion API."
               url="http://subversion.apache.org/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.eclipse.team.svn.discovery.svn.connectors"
            description="SVN connector based on Subversion binaries (Native JavaHL SVN/1.7.9 r1462340). Compatible with SVN 1.7.x. Included binaries: for Windows 64-bit platform only."
            groupId="org.eclipse.team.svn.discovery-javahl"
            id="org.polarion.eclipse.team.svn.connector,org.polarion.eclipse.team.svn.connector.javahl17.win64,org.polarion.eclipse.team.svn.connector.javahl17"
            kind="task"
            license="Apache Software License 1.1"
            name="Native JavaHL 1.7.9 (64-bit Eclipse for Windows)"
            provider="Polarion"
            siteUrl="http://community.polarion.com/projects/subversive/download/eclipse/4.0/luna-site/"
            platformFilter="(&amp; (osgi.os=win32) (osgi.arch=x86_64))">
       <icon image32="images/Polarion.png">
         </icon>
         <overview
               summary="JavaHL connector for the Eclipse Subversive. Compatible with SVN 1.7.x only. JavaHL is a part of the Subversion project. Specifically, it is the Java language binding for the Subversion API."
               url="http://subversion.apache.org/">
         </overview>
      </connectorDescriptor>
      
    <connectorDescriptor
            categoryId="org.eclipse.team.svn.discovery.svn.connectors"
            description="SVN connector based on JavaHL. Compatible with SVN 1.7.x. You also need to manually install Subversion, including the JavaHL library, for your platform."
            groupId="org.eclipse.team.svn.discovery-javahl"
            id="org.polarion.eclipse.team.svn.connector,org.polarion.eclipse.team.svn.connector.javahl17"
            kind="task"
            license="Apache Software License 1.1"
            name="JavaHL 1.7.x"
            provider="Polarion"
            siteUrl="http://community.polarion.com/projects/subversive/download/eclipse/4.0/luna-site/"
            platformFilter="(!(osgi.os=win32))">
       <icon image32="images/Polarion.png">
         </icon>
         <overview
               summary="JavaHL connector for the Eclipse Subversive. Compatible with SVN 1.7.x only. You also need to manually install Subversion, including the JavaHL library, for your platform. JavaHL is a part of the Subversion project. Specifically, it is the Java language binding for the Subversion API."
               url="http://subversion.apache.org/">
         </overview>
      </connectorDescriptor>
      
      
      <!-- JavaHL 1.8 -->

      <connectorDescriptor
            categoryId="org.eclipse.team.svn.discovery.svn.connectors"
            description="SVN connector based on Subversion binaries (Native JavaHL SVN/1.8.9 r1591380). Compatible with SVN 1.7.x-1.8.x. Included binaries: for Windows 32-bit platform only."
            groupId="org.eclipse.team.svn.discovery-javahl"
            id="org.polarion.eclipse.team.svn.connector,org.polarion.eclipse.team.svn.connector.javahl18.win32,org.polarion.eclipse.team.svn.connector.javahl18"
            kind="task"
            license="Apache Software License 1.1"
            name="Native JavaHL 1.8.9 (32-bit Eclipse for Windows)"
            provider="Polarion"
            siteUrl="http://community.polarion.com/projects/subversive/download/eclipse/4.0/luna-site/"
            platformFilter="(&amp; (osgi.os=win32) (osgi.arch=x86))">
       <icon image32="images/Polarion.png">
         </icon>
         <overview
               summary="JavaHL connector for the Eclipse Subversive. Compatible with SVN 1.7.x-1.8.x only. JavaHL is a part of the Subversion project. Specifically, it is the Java language binding for the Subversion API."
               url="http://subversion.apache.org/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.eclipse.team.svn.discovery.svn.connectors"
            description="SVN connector based on Subversion binaries (Native JavaHL SVN/1.8.9 r1591380). Compatible with SVN 1.7.x-1.8.x. Included binaries: for Windows 64-bit platform only."
            groupId="org.eclipse.team.svn.discovery-javahl"
            id="org.polarion.eclipse.team.svn.connector,org.polarion.eclipse.team.svn.connector.javahl18.win64,org.polarion.eclipse.team.svn.connector.javahl18"
            kind="task"
            license="Apache Software License 1.1"
            name="Native JavaHL 1.8.9 (64-bit Eclipse for Windows)"
            provider="Polarion"
            siteUrl="http://community.polarion.com/projects/subversive/download/eclipse/4.0/luna-site/"
            platformFilter="(&amp; (osgi.os=win32) (osgi.arch=x86_64))">
       <icon image32="images/Polarion.png">
         </icon>
         <overview
               summary="JavaHL connector for the Eclipse Subversive. Compatible with SVN 1.7.x-1.8.x only. JavaHL is a part of the Subversion project. Specifically, it is the Java language binding for the Subversion API."
               url="http://subversion.apache.org/">
         </overview>
      </connectorDescriptor>
      
    <connectorDescriptor
            categoryId="org.eclipse.team.svn.discovery.svn.connectors"
            description="SVN connector based on JavaHL. Compatible with SVN 1.7.x-1.8.x. You also need to manually install Subversion, including the JavaHL library, for your platform."
            groupId="org.eclipse.team.svn.discovery-javahl"
            id="org.polarion.eclipse.team.svn.connector,org.polarion.eclipse.team.svn.connector.javahl18"
            kind="task"
            license="Apache Software License 1.1"
            name="JavaHL 1.8.x"
            provider="Polarion"
            siteUrl="http://community.polarion.com/projects/subversive/download/eclipse/4.0/luna-site/"
            platformFilter="(!(osgi.os=win32))">
       <icon image32="images/Polarion.png">
         </icon>
         <overview
               summary="JavaHL connector for the Eclipse Subversive. Compatible with SVN 1.7.x-1.8.x only. You also need to manually install Subversion, including the JavaHL library, for your platform. JavaHL is a part of the Subversion project. Specifically, it is the Java language binding for the Subversion API."
               url="http://subversion.apache.org/">
         </overview>
      </connectorDescriptor>
      
   </extension>   
	
</plugin>
