<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.m2e.scm.scmHandlers">
		<handler type="svn" priority="9" class="org.polarion.eclipse.team.svn.m2eclipse.SVNScmHandler"/>
	</extension>

	<extension point="org.eclipse.m2e.scm.scmHandlersUi">
		<handlerUi type="svn" class="org.polarion.eclipse.team.svn.m2eclipse.SVNScmHandlerUi"/>
	</extension>

	<extension point="org.eclipse.core.runtime.adapters">
		<factory adaptableType="org.eclipse.team.svn.ui.repository.model.RepositoryFolder"
				class="org.polarion.eclipse.team.svn.m2eclipse.SvnUrlAdapterFactory">
			<adapter type="org.eclipse.m2e.scm.ScmUrl"/>
		</factory>
		<factory adaptableType="org.eclipse.team.svn.ui.repository.model.RepositoryLocation"
				class="org.polarion.eclipse.team.svn.m2eclipse.SvnUrlAdapterFactory">
			<adapter type="org.eclipse.m2e.scm.ScmUrl"/>
		</factory>
	</extension>

</plugin>
