<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
	Copyright (c) 2023 Contributors to the Eclipse Foundation

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	https://www.eclipse.org/legal/epl-2.0/.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		See git history
-->
<plugin>
   <extension point="org.eclipse.ui.activities">
   
      <activity
      		name="%activity.team.svn"
      		id="org.eclipse.team.svn"      		
            description="%activity.team.svn.desc">                                    
      </activity>
      
      <activityPatternBinding
            activityId="org.eclipse.team.svn"
            pattern="org\.eclipse\.team\.svn\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.team.svn"
            pattern="org\.eclipse\.team\.svn\.core/.*svnnature">
      </activityPatternBinding>
      <activityRequirementBinding
            activityId="org.eclipse.team.svn"
            requiredActivityId="org.eclipse.team">
      </activityRequirementBinding>

	  <!-- Subversive in Team category -->
	  <categoryActivityBinding
		  activityId="org.eclipse.team.svn"
	      categoryId="org.eclipse.categories.teamCategory">
	  </categoryActivityBinding>    
	
	  <!-- Subversive capability enabled by default -->
	  <defaultEnablement
	      id="org.eclipse.team.svn">
	  </defaultEnablement>          
   
   </extension>

</plugin>
