<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.team.svn.tests"
   name="Subversive Test Plug-in (Incubation)"
   version="0.0.1.01"
   provider-name="Polarion.org"
   class="org.eclipse.team.svn.tests.TestPlugin">

   <runtime>
      <library name="subversive_test.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.team.svn.core"/>
      <import plugin="org.eclipse.team.svn.ui"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.team.ui"/>
   </requires>

</plugin>
