<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension 
		id="SVNProjectReferenceAnalyser" 
		name="SVN Project Reference Analyser" 
		point="com.csc.dip.projectset.projectReferenceAnalyser">
		<projectReferenceAnalyser 
			provider="org.eclipse.team.svn.core.svnnature" 
			class="org.eclipse.team.svn.projectset.SVNProjectReferenceAnalyser"/>
	</extension>
	
</plugin>
