<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
	id="org.eclipse.team.svn.projectset"
	name="%pluginName"
	version="0.7.0.01"
	provider-name="%providerName">

	<runtime>
		<library name=".">
			<export name="*"/>
		</library>
	</runtime>
   
	<requires>
		<import plugin="org.eclipse.core.runtime"/>
		<import plugin="com.csc.dip.projectset" version="1.4.4" match="greaterOrEqual"/>
	</requires>
	
	<extension 
		id="SVNProjectReferenceAnalyser" 
		name="SVN Project Reference Analyser" 
		point="com.csc.dip.projectset.projectReferenceAnalyser">
		<projectReferenceAnalyser 
			provider="org.eclipse.team.svn.core.svnnature" 
			class="org.eclipse.team.svn.projectset.SVNProjectReferenceAnalyser"/>
	</extension>
	
</plugin>
